In [1]:
from urllib.request import urlopen

In [2]:
import pandas as pd

In [3]:
import json

In [18]:
[[
-180,
-90
],
[
180,
-90
],
[
180,
90
],
[
-180,
90
],
[
-180,
-90
]]

[[-180, -90], [180, -90], [180, 90], [-180, 90], [-180, -90]]

In [23]:
URL = "https://services.surfline.com/kbyg/mapview?south=-90&west=-180&north=90&east=180"

In [24]:
def get_data():
    with urlopen(URL) as fdesc:
        data = fdesc.read()
        return json.loads(data.decode("utf8"))

In [25]:
data = get_data()

In [26]:
pd.DataFrame(data)

,associated,data,units
regionalForecast,NaN,"{'subregionId': '58581a836630e24c44879143', 'i...",NaN
spots,NaN,"[{'conditions': {'human': False, 'value': None...",NaN
subregions,NaN,"[{'_id': '58581a836630e24c44879052', 'subregio...",NaN
tideHeight,NaN,NaN,M
units,"{'waveHeight': 'M', 'tideHeight': 'M', 'windSp...",NaN,NaN
waveHeight,NaN,NaN,M
windSpeed,NaN,NaN,KPH

In [28]:
df_spots = pd.io.json.json_normalize(data["data"]["spots"])
df_spots.head()

,_id,cameras,conditions.human,conditions.sortableCondition,conditions.value,lat,legacyId,legacyRegionId,lon,name,...,waveHeight.human,waveHeight.humanRelation,waveHeight.max,waveHeight.min,waveHeight.occasional,waveHeight.plus,weather.condition,weather.temperature,wind.direction,wind.speed
0,584204204e65fad6a770960c,[],False,NaN,None,68.269413,74087.0,110782.0,13.579551,Unstad Beach,...,False,0.6-0.9 m – knee to waist high,0.9,0.6,NaN,False,CLEAR_NO_RAIN,10,218.11,26
1,584204204e65fad6a770960a,[],False,NaN,None,70.188152,74086.0,110782.0,30.360968,Skallelv,...,False,0.3-0.6 m – ankle to knee high,0.6,0.3,NaN,False,MOSTLY_CLOUDY_NO_RAIN,10,260.96,35
2,584204214e65fad6a7709c85,[],False,NaN,None,64.094000,128406.0,128361.0,23.397000,Ohtakari,...,False,Flat,0.0,0.0,NaN,False,CLEAR_NO_RAIN,10,308.77,9
3,584204214e65fad6a7709c86,[],False,NaN,None,63.480000,128408.0,128361.0,22.264000,Storsand,...,False,Flat,0.0,0.0,NaN,False,CLEAR_NO_RAIN,9,312.62,11
4,584204214e65fad6a7709c87,[],False,NaN,None,61.585000,128409.0,128361.0,21.496000,Poliisinlahti,...,False,Flat,0.0,0.0,NaN,False,CLEAR_NO_RAIN,12,311.92,16

In [29]:
len(df_spots)

4031

In [30]:
df_spots[df_spots._id == "5842041f4e65fad6a7708c8d"]

,_id,cameras,conditions.human,conditions.sortableCondition,conditions.value,lat,legacyId,legacyRegionId,lon,name,...,waveHeight.human,waveHeight.humanRelation,waveHeight.max,waveHeight.min,waveHeight.occasional,waveHeight.plus,weather.condition,weather.temperature,wind.direction,wind.speed
163,5842041f4e65fad6a7708c8d,"[{'nighttime': False, 'stillUrl': 'https://cam...",False,NaN,None,45.002222,6900.0,2955.0,-1.2025,Lacanau,...,False,Flat,0.0,0.0,NaN,False,MOSTLY_CLOUDY_NO_RAIN,23,40.37,16

In [34]:
idx, row = next(df_spots.iterrows())

In [36]:
row._id

'584204204e65fad6a770960c'